<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!-- NAONNA main -->
body, html{
	height : 100%;
	color : white;
	font: 400 15px/1.8 Lato, sans-serif;
}
/* start top menu */
.monami {
	position : relative;
	background-position : center;
	background-repaet : no-repeat;
	background-size : cover;
	height : 100%;
}
.main {
	margin-top : 100px;
	opacity : 1;
}
.top_menu {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 4px;
    position : absolute;
    background-color : #000000;
    opacity : 0.7;
}
.collapse{
  width:98%;
}
.navbar-brand{
  color: white !important;
  margin-left: 12%;
  font-size: 20px !important;
}
.firstMenu{
	color:white !important;
	margin-top:5px;
	display:inline-block;
}
.firstMenu-logout{
	color:white !important;
	margin-top:20px;
	display:inline-block;
}
.firstMenu:hover{
	color: white !important;
    background : red !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color : red;	
}
.secondMenu{
	color:black !important;
}
.secondMenu:hover{
	color:black !important;
}
/* side-profile */
.side-profile {
  display : inline-block;
  margin-top: 200px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  background-color : white;
}

/* The Modal*/
#LoginModal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(67, 68, 64, 0.4);
    padding-top: 20px;  /*top으로 부터 얼마나 띄울지*/
    top : -20px;
}
ul[name=login_select]{
  margin-top: 20px;
  margin-bottom: 0px;
}
#login_A{
  width : 70%;
  margin: 5% auto 15% auto;
}
#login_A label{
  display : block;
  font-size: 18px;
  text-align: center;
  margin: auto;
}
.close{
  margin-top: -10px;
}
.kakao_login{
	margin-left: 5px;
	margin-top: 30px;
	margin-bottom: 15px;
}
button[name=login], a[name=join_btn], #submitbut{
  border: none;
  display: block;
  width: 500px;
  height: 45px;
  margin-left: -50px;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  font-size: 18px;
}
#submitbut {
	margin-left : 30px;
}
a[name=join_btn]{
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 0px;
}
#join label{
  display : block;
  font-size: 18px;
  text-align: left;
  margin-left: 100px;
  margin-bottom: 5px;
}

input[name=ground_admin]{
  width: 300px;
  height: 35px;
  display: inline-block;
  margin-left: -80px;
  margin-right: 12px;
  margin-bottom: 20px;
  padding-left: 20px;
}
#ground_admin, input[name=ground_ad_pw], input[name=ground_ad_pin], input[name=ground_name]{
  width: 300px;
  height: 35px;
  display: inline-block;
  margin-left: -20px;
  margin-bottom: 20px;
  padding-left: 20px;
}
#ground_admin {
	margin-left : 80px;
}
#ground_admin_login1, #ground_admin_login2 {
  width: 500px;
  height: 35px;
  margin-left: -50px;
  margin-bottom: 20px;
  padding-left: 20px;
}
input[name=email]{
	 margin-left: -40px;
}