<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django Web Programing{% endblock %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'css/base.css' %}{%endblock%}" />
    <link rel="stylesheet" type="text/css" href="{% block extrastyle %}{%endblock%}" />
</head>
<body>
    <div id="header">
        <h2 class="maintitle">Easy&Fast Django Web Programing</h2>
        <!--is_active()함수는 사용자 로그인서 True 반환-->
        {% if user.is_active %}
        <h4 class="welcome">Welcome,
        <!--firstof: 다음에 오는 인자중 False가 아닌 첫번째 인자 선택, 여기서는 use.get_username 선택-->
        <!--user.get_short_name : User 객체의 first_name 값을 가져오는데 지금은 비어 있음.-->
            <strong>{% firstof user.get_short_name user.get_username %}</strong> /
            <a href="{% url 'password_change' %}">Change Password</a> /
            <a href="{% url 'logout' %}">Logout</a>
        </h4>
        {% else %}
        <h4 class="welcome">Welcome, Anonymous /
            <a href="{% url 'login' %}">Login</a> /
            <a href="{% url 'register' %}">Register</a>
        </h4>
        {% endif %}
    </div>

<div id="menu">
    <li><a href="{% url 'home' %}">Home</a></li>

    <li><a href="#">Bookmark</a></li>
    <li><a href="#">Blog</a></li>
    <!--<li><a href="{% url 'bookmark:index' %}">Bookmark</a></li>-->
    <!--<li><a href="{% url 'blog:index' %}">Blog</a></li>-->
    <li><a href="#">Photo</a></li>

    <li><a href="#">Add</a>
        <ul>
            <li><a href="#">Bookmark</a></li>
            <li><a href="#">Post</a></li>
            <!--<li><a href="{% url 'bookmark:add' %}">Bookmark</a></li>-->
            <!--<li><a href="{% url 'blog:add' %}">Post</a></li>-->
            <li><a href="#">Album</a></li>
            <li><a href="#">Photo</a></li>
        </ul>
    </li>

    <li><a href="#">Change</a>
        <ul>
            <li><a href="#">Bookmark</a></li>
            <li><a href="#">Post</a></li>
            <!--<li><a href="{% url 'bookmark:change' %}">Bookmark</a></li>-->
            <!--<li><a href="{% url 'blog:change' %}">Post</a></li>-->
            <li><a href="#">Album</a></li>
            <li><a href="#">Photo</a></li>
        </ul>
    </li>
</div>

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>
</html>